[Unit]
Description=nginx-jboss-revproxy container
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill nginx-jboss-revproxy
ExecStartPre=-/usr/bin/docker rm nginx-jboss-revproxy
ExecStart=/usr/bin/docker run --name nginx-jboss-revproxy \
-p 80:80 \
-v /nas/docker/nginx/jboss_cluster_syserr.conf:/etc/nginx/nginx.conf \
nginx-jboss-revproxy
ExecStop=/usr/bin/docker stop -t 2 nginx-jboss-revproxy

[Install]
WantedBy=default.target
