[Unit]
Description=nginx-revproxy container
After=docker.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill nginx-revproxy
ExecStartPre=-/usr/bin/docker rm nginx-revproxy
ExecStart=/usr/bin/docker run \
--name nginx-revproxy \
-p 8080:80 \
-v /usb/docker/shared/nginx/transmission.cfg:/etc/nginx/sites-enabled/transmission.cfg \
-v /usb/docker/shared/nginx/sickrage.cfg:/etc/nginx/sites-enabled/sickrage.cfg \
nginx-revproxy-odroid
ExecStop=/usr/bin/docker stop -t 2 nginx-revproxy

[Install]
WantedBy=default.target
